.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8);
}

header {
  position: relative;
  width: 100vh;
  height: 2rem;
}

#SearchTrackBar {
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 10; */
}

#geist-ui-dropdown>div>div {
  /* opacity: 0.2; */
  height: 160px;
}



#root {
  padding: 1rem;
  min-width: 500px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-menu-right-side {
  display: flex;
  gap: 0.5rem;
}

#main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16/9;

}


.focus_scale {

  transition: scale 0.2s ease;
}



.focus_scale:hover {
  cursor: pointer;
  scale: 1.1;

}

.focus_scale-2 {

  transition: scale 0.2s ease;
}



.focus_scale-2:hover {
  cursor: pointer;
  scale: 1.3;

}

#mackTunes-box {
  aspect-ratio: 16/5;
  font-size: 3rem;
  width: 20rem;
  border: 6px solid #afacaca6;
  /* padding: 2rem 4rem; */
  box-shadow: 0px 3px 6px 3px #000000;
  display: flex;
  justify-content: center;
  align-items: center;

}

#mackTunes-text {
  font-size: 2.5rem;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.controller {
  display: grid;
  grid-template-columns: 50px auto 50px;
  /* Modified grid-template-columns */
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}

.controller button {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border: none;
  width: 50px;
  aspect-ratio: 3/2;
  cursor: pointer;

}



:root {
  --mdc-theme-secondary: black;
  --mdc-theme-primary: red;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}